<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyanzhao.blog.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="com.liuyanzhao.blog.entity.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_description" property="tagDescription" jdbcType="VARCHAR" />
    <result column="tag_status" property="tagStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, tag_name, tag_description, tag_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuyanzhao.blog.entity.Tag" >
    insert into tag (tag_id, tag_name, tag_description, 
      tag_status)
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR}, 
      #{tagStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liuyanzhao.blog.entity.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="tagDescription != null" >
        tag_description,
      </if>
      <if test="tagStatus != null" >
        tag_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagDescription != null" >
        #{tagDescription,jdbcType=VARCHAR},
      </if>
      <if test="tagStatus != null" >
        #{tagStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuyanzhao.blog.entity.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagDescription != null" >
        tag_description = #{tagDescription,jdbcType=VARCHAR},
      </if>
      <if test="tagStatus != null" >
        tag_status = #{tagStatus,jdbcType=INTEGER},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuyanzhao.blog.entity.Tag" >
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_description = #{tagDescription,jdbcType=VARCHAR},
      tag_status = #{tagStatus,jdbcType=INTEGER}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>