<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyanzhao.ssm.blog.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.liuyanzhao.ssm.blog.entity.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_level" property="menuLevel" jdbcType="INTEGER" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, menu_url, menu_level, menu_icon, menu_order
  </sql>

  <sql id="tb">menu</sql>

  <select id="getMenuById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="tb"/>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from <include refid="tb"/>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuyanzhao.ssm.blog.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
    insert into <include refid="tb"/>
    (menu_id, menu_name, menu_url,
      menu_level, menu_icon, menu_order)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuLevel,jdbcType=INTEGER}, #{menuIcon,jdbcType=VARCHAR}, #{menuOrder,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.liuyanzhao.ssm.blog.entity.Menu" >
    update <include refid="tb"/>
    <set >
      <if test="menuName != null" > menu_name = #{menuName,jdbcType=VARCHAR},</if>
      <if test="menuUrl != null" >menu_url = #{menuUrl,jdbcType=VARCHAR},</if>
      <if test="menuLevel != null" >menu_level = #{menuLevel,jdbcType=INTEGER},</if>
      <if test="menuIcon != null" >menu_icon = #{menuIcon,jdbcType=VARCHAR},</if>
      <if test="menuOrder != null" >menu_order = #{menuOrder,jdbcType=INTEGER},</if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>



  <!--获得菜单列表-->
  <select id="listMenu"  resultType="com.liuyanzhao.ssm.blog.entity.Menu">
    SELECT
    <include refid="Base_Column_List"/>
    FROM <include refid="tb"/>
    ORDER BY menu_order DESC, menu_id ASC
  </select>
</mapper>